.tabButton {
  font-family: sans-serif;
  color: #000000;
  background: #FFFFFF;
  border-radius: 5px;
  border-color: #000000;
  border-weight: 10px;
  cursor: pointer;
  transition-duration: 0.1s;
  width: 120px;
  height: 40px;
  font-size: 15pt;
  font-weight: bold;
}

.tabButton:hover {
  background: #DFDFDF
}

.infinityTabButton {
  font-family: sans-serif;
  color: #FFFFFF;
  background: #000000;
  border-radius: 5px;
  border-color: #000000;
  border-weight: 10px;
  cursor: pointer;
  transition-duration: 0.1s;
  width: 120px;
  height: 40px;
  font-size: 15pt;
  font-weight: bold;
  border: solid #B67F33
}

.infinityTabButton:hover {
  background: #B67F33;
  color: #000000;
}

.boosterTabButton {
  font-family: sans-serif;
  color: #0000FF;
  background: #000000;
  border-radius: 5px;
  border-color: #0000FF;
  border-weight: 10px;
  cursor: pointer;
  transition-duration: 0.1s;
  width: 120px;
  height: 40px;
  font-size: 15pt;
  font-weight: bold;
  border: solid #0000FF
}

.boosterTabButton:hover {
  background: #FFFFFF;
  color: #000080;
}

.normalButton {
  font-family: sans-serif;
  color: #000000;
  background: #FFFFFF;
  border-radius: 2px;
  border-color: #000000;
  border-width:1.5px;
  cursor: pointer;
  transition-duration: 0.1s;
}

.normalButton:hover {
  background: #EFEFEF
}

.infinityButton {
  font-family: sans-serif;
  color: #FFFFFF;
  background: #000000;
  border-radius: 2px;
  border-color: #B67F33;
  border-width: 2px;
  cursor: pointer;
  transition-duration: 0.1s;
}

.infinityButton:hover {
  background: #B67F33;
  color: #000000;
}

.treeButton {
  font-family: sans-serif;
  border-width:1.5px;
  cursor: pointer;
  transition-duration: 0.1s;
  margin: center;
  width: 200px;
  height: 100px;
  font-size: 18px
}

.center {
  margin: auto;
  width: 20%;
  display: flex;
  justify-content: center;
  margin: 0;
  position: absolute;
  left: 50%;
  -ms-transform: translate(-50%);
  transform: translate(-50%);
}

#boostersText {
  margin: auto;
  text-align: center;
  font-size: 20pt;
  display: inline;
  font-weight: bold;
}

#refundBoosters {
  font-family: sans-serif;
  color: #000000;
  background: #FFFFFF;
  border-radius: 2px;
  border-color: #000000;
  border-width:1.5px;
  cursor: pointer;
  transition-duration: 0.1s;
  margin: auto;
  font-size: 14pt
}

#refundConfirmation {
  font-family: sans-serif;
  color: #000000;
  background: #FFFFFF;
  border-radius: 2px;
  border-color: #000000;
  border-width:1.5px;
  cursor: pointer;
  transition-duration: 0.1s;
  margin: auto;
  font-size: 12pt
}

#refundFB {
  font-family: sans-serif;
  color: #000000;
  background: #FFFFFF;
  border-radius: 2px;
  border-color: #000000;
  border-width:1.5px;
  cursor: pointer;
  transition-duration: 0.1s;
  margin: auto;
  font-size: 12pt
}

#refundBoosters:hover {
  background: #EFEFEF
}

.locked {
  color: #000000;
  background: #FFFFFF;
  border-radius: 2px;
  border-color: #000000;
}

.canbuy {
  color: #0000FF;
  background: #000000;
  border-radius: 2px;
  border-color: #0000FF;
  transition-duration: 0.1s;
}

.canbuy:hover {
  background: #008000;
  color: #0000C0;
}

.bought {
  color: #000000;
  background: #00FF00;
  border-radius: 2px;
  border-color: #000000;
}

.boosterButton {
  font-family: sans-serif;
  color: #8080FF;
  background: #000000;
  border-radius: 2px;
  border-color: #0000FF;
  border-width:1.5px;
  cursor: pointer;
  transition-duration: 0.1s;
  border: solid #0000FF
}

.boosterButton:hover {
  background: #FFFFFF;
  color: #000080;
}

.challenge {
  height: 150px;
  width: 300px;
  font-size: 15px;
  border-width: 3px;
}

.running {
  background: #FFFFFF;
  border-radius: 2px;
  border-color: #000000;
  color: #000080;
}

.OmegaRun {
  background: #FFFFFF;
  border-radius: 2px;
  border-color: green;
  color: #000000;
}

#finishChallenge {
  height: 100px;
  width: 200px;
  font-size: 20px;
}

.invisible {
  opacity: 0;
}

invisible {
  opacity: 0;
}

.collapseTabButton {
  font-family: sans-serif;
  color: lightgreen;
  background: #000000;
  border-radius: 5px;
  border-weight: 10px;
  cursor: pointer;
  transition-duration: 0.1s;
  width: 120px;
  height: 40px;
  font-size: 15pt;
  font-weight: bold;
  border: solid green
}

.collapseTabButton:hover {
  background: green;
  color: #FFFFFF;
}

.collapse {
  font-family: sans-serif;
  color: lightgreen;
  background: black;
  border-radius: 2px;
  border-width:1.5px;
  cursor: pointer;
  transition-duration: 0.1s;
  border: solid green
}

.collapse:hover {
  background: green;
  color: white;
}

#collapseScreen {
  margin: auto;
  width: 100%;
  height: 100%;
  display: block;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  background: black;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center
}

#collapseScreenText {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 100pt;
  font-weight: bold;
  font-family: Comic Sans MS, arial, sans-serif;
  color: lightgreen;
}

#cardinalTable td {width: 30%; text-align: center;}

.slugMile {
  background: green;
  border-color: #00FF00;
  border-radius: 5px;
  border-weight: 10px;
}

.notSlugMile {
  background: grey;
  border-color: #000000;
  border-radius: 5px;
  border-weight: 10px;
}

#slugTable td {
  width: 150px;
  font-family: sans-serif;
  text-align: center;
  color: white;
  height: 150px;
  display: inline-block;
}

#baseTable td {
  width: 150px;
  font-family: sans-serif;
  text-align: center;
  color: white;
  height: 150px;
  display: inline-block;
}


#slugTable tr:nth-child(1) td:nth-child(1) p {
  font-size: 10pt;
}

#slugTable tr:nth-child(1) td:nth-child(2) p {
  font-size: 11pt;
}



#slugTable tr:nth-child(1) td:nth-child(3) p {
  font-size: 10pt;
}

#slugTable p {
  margin: 5px;
}

.trueCenter {
  margin: auto;
  display: block;
  text-align:center;
  margin-top: 5pt;
  margin-bottom: 5pt;
}


.long {
  width: 100%;
}

#alephOmegaUps {
  margin: auto;
  display: block;
  text-align:center;
  margin-top: 5pt;
  margin-bottom: 5pt;
  width: 815px;
}

.assignButtons {
  margin-bottom: calc(18px * 3);
}

#factorBoostProgBar {
  width: 100%;
  height: 20px;
  background: #a0a0a0;
}

#factorBoostProg {
  height: 20px;
  background: #00ff00;
  color: #000000;
  text-align: center;
  width: 50%;
  font-size: 13pt;
}

#chalProgBar {
  width: 100%;
  height: 20px;
  background: #a0a0a0;
}

#chalProg {
  height: 20px;
  background: #00ff00;
  color: #000000;
  text-align: center;
  width: 50%;
  font-size: 13pt;
}

.darkButton {
  color: #ffffff;
	background: #000;
	border-width: 2px;
  border-color: #808080;
	border-radius: 2px;
	transition-duration: 0.1s;
	cursor: pointer;
}

.darkButton:hover {
  border-color: transparent;
  background: #000;
}

#subTab4 td button {font-size: 12pt}

.singularity {
  color: #FFF;
	background: #000;
	border-width: 2px;
  border: solid green;
	border-radius: 2px;
	transition-duration: 0.1s;
	cursor: pointer;
}

.singularity:hover {
  border-color: transparent;
  background: #000;
}

.singSacr {
  font-family: sans-serif;
  border-width:1.5px;
  cursor: pointer;
  transition-duration: 0.1s;
  margin: center;
  width: 200px;
  height: 100px;
  font-size: 18px
}

.thicc {
  font-size: 20px;
  height: 60px;
}

.singularityFunction {
    border: 1px solid;
    font-weight: bold;
    font-family: sans-serif;
    width: 170px;
    height: 80px;
    transition-duration: 0.2s;
    cursor: pointer;
    border-radius: 4px;
    font-size: 1rem;
    vertical-align: top;
    text-align: center;
    margin:7px;
    display: block;
}

.unboughtthing {
    color: #666;
    border-color: #004000;
}



.boughtthing {
    color: black;
    background: #00FF00;
}

.canbought {
    color: black;
    background: green;
}

#functions {
    color: #ffffff;
	  background: radial-gradient(#333,#000);
  	border-width: 2px;
    border: solid green;
	  border-radius: 2px;
  	transition-duration: 0.1s;
    position: fixed;
    bottom: -2px;
    left: 50%;
    font-size: 15px;
    height: 100px;
    width: 500px;
    transform: translateX(-50%);
    border: solid green;
    text-align: center;
    font-size: 16pt;
}

#singTable td {width: 100px; text-align: center; vertical-align: bottom}

#realCenter {
  margin: auto;
  display: block;
  text-align:center;
  margin-top: 5pt;
  margin-bottom: 5pt;
}
.unbought {
    color: black;
    background: lime;
}

.unbought:hover {
    color: lime;
    background: black;
}

.boughtthing:hover {
    color: black;
    background: #00FF00;
}

.pointer {
  cursor: pointer;
}
.OCComplete {
   background: yellow;
   border-color: gold;
   height: 75px;
  
}

#singRange {
  width: 50%;
}

.enterIncrementyverseButton {
  border-radius: 20px;
  display:block;
  width: 50%;
  margin:auto;
  margin-top:30px;
  height:300px;
  text-align:center;
  font-size:40pt;
  font-weight:bold;
  background:url('https://cdn.glitch.com/6f7e4eb0-585a-45ff-a8c1-2d13a9a7d93f%2Fvortex3.gif?v=1596905007129') no-repeat center;
  background-size: cover;
  font-family: sans-serif;
  color: #0000FF;
  cursor: pointer;
  transition-duration: 0.2s;
  border: solid #0000FF 5px;
  text-shadow: 6px 6px 6px #0000FF;
}

.enterIncrementyverseButton:hover {
  text-shadow: 6px 6px 6px #5000FF;
}

#whitescreen {
  margin: auto;
  width: 100%;
  height: calc(3 * (100%-300px) + 300px);
  display: block;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  background: white;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display:none
}

#achievementTable td {
  width:120px;
  height:120px;
  background: grey;
  border-color: #00FF00;
  border-radius: 5px;
  border-weight: 10px;
}

[tooltip] {
	position: relative;
	z-index: 2;
}

[tooltip]:before,
[tooltip]:after {
	visibility: hidden;
	opacity: 0;
	pointer-events: none;
}

[tooltip]:before {
	font-size: 12px;
	position: absolute;
	top: -10px;
	margin-bottom: -80px;
	padding: 10px;
	border-radius: 6px;
  width: 100px;
	background-color: #000;
	color: #fff;
	content: attr(tooltip);
	transition-duration: 0.2s;
	z-index: 4;
  text-align: center;
  left: calc(50%);
  -ms-transform: translate(-50%);
  transform: translate(-50%);
}

[tooltip]:hover:before {
	visibility: visible;
	opacity: 1;
  z-index:5;
}

.fractalEngineMachinesOne {
  width:100%;
}

.fractalEngineMachinesTwo {
  width:initial;
  display:flex;
  flex-direction: column;
}

#flash {
  width: 100%;
  height: 100vh;
  background-color: black;
  color: white;
  position: absolute;
  top: 0;
  margin: 0;
  left: 0;
  text-align: center;
  padding: 10% 0;
  font-size: 50px;
}


#isubTab3 td {
  width:25%;
}

#isubTab3 button {
  width:100%;
  display:block;
  text-align:center;
  margin:auto;
  height:100px;
  font-size:18px;
}