body {
  font-family: sans-serif;
  margin: 2em;
  color: #000000;
  background-color: #FFFFFF;
}

.unboughtthing {
    background-color: white !important;
    border-color: black !important;
    color: black !important;
}
